.card {
  padding: 2em;
}

.cell {
  width: 50px;
  height: 50px;
  background: blue;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
}
