#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 2em;
}

.cell {
  width: 50px;
  height: 50px;
  background: blue;
}
